<main class="container panel-admin">
    <h1><%= namePage  %></h1>
    <div class="container-buttons">
        <a href="/new-group" class="btn btn-yellow">New group</a>
        <a href="/new-connecti" class="btn btn-blue">New Connecti</a>
        <a href="/edit-profile" class="btn btn-rose">Edit profile</a>
        <a href="/change-password" class="btn btn-green">Change Password</a>
        <a href="/img-profile" class="btn btn-yellow">Profile image</a>
    </div>

    <div class="section-admin">
        <h2>Upcoming Connecti's</h2>
        <% if (connectis.length > 0) {%>
            <ul>
                <% connectis.forEach(connecti => { %>
                    <li>
                        <div class="info-admin">
                            <% const date = connecti.date + ' ' + connecti.hour; %>
                            <p class="date"><%= moment(date).format('LLLL'); %></p>
                            <a href="/connecti/<%= connecti.slug %>" target="_blank">
                                <h3><%= connecti.title %></h3>
                            </a>
                            <small><%= connecti.interested.length %> Interested</small>
                        </div>
                        <div class="actions container-buttons">
                            <a href="/edit-connecti/<%= connecti.id %>" class="btn btn-green">Edit</a>
                            <a href="/assistants-connecti/<%= connecti.id %>" class="btn btn-blue2" style="padding: 1rem 2rem; white-space:nowrap">View assistants</a>
                            <a href="/delete-connecti/<%= connecti.id %>" class="btn btn-red">Delete</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>You don't have any upcoming Connecti's</p>
        <% } %>
    </div>
    <div class="section-admin">
        <h2>Your Groups</h2>
        <% if (groups.length) { %>
            <ul>
                <% groups.forEach(group => { %>  
                    <li>
                        <div class="info-admin">
                            <h3><%= group.name %></h3>
                        </div>
                        <div class="actions container-buttons">
                            <a href="/edit-group/<%= group.id %>" class="btn btn-green">Edit</a>
                            <a href="/img-group/<%= group.id %>" class="btn btn-blue2">Image</a>
                            <a href="/delete-group/<%= group.id %>" class="btn btn-red">Delete</a>
                        </div>
                    </li>
                <%  }) %>
            </ul>
        <% } else { %>
            <p> You don't have any group created</p>
        <% } %>
    </div>
    <div class="section-admin">
        <h2>Previous Connecti's</h2>
        <% if (previous.length > 0) {%>
            <ul>
                <% previous.forEach(connecti => { %>
                    <li>
                        <div class="info-admin">
                            <% const date = connecti.date + ' ' + connecti.hour; %>
                            <p class="date"><%= moment(date).format('LLLL'); %></p>
                            <h3><%= connecti.title %></h3>
                            <small><%= connecti.interested.length %> Interested</small>
                        </div>
                        <div class="actions container-buttons">
                            <a href="/edit-connecti/<%= connecti.id %>" class="btn btn-green">Edit</a>
                            <a href="/assistants-connecti/<%= connecti.id %>" class="btn btn-blue2" style="padding: 1rem 2rem; white-space:nowrap">View assistants</a>
                            <a href="/delete-connecti/<%= connecti.id %>" class="btn btn-red">Delete</a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>You don't have any previous Connecti's</p>
        <% } %>
    </div>
</main>