<div class="container next-events">
    <h1><%= namePage %></h1>
    <% if(connectis.length > 0 ) {%>
        <div class="grid columns-md-3 "></div>
            <% connectis.forEach(connecti => { %>
                <div class="card">
                    <% if(connecti.group.image){%>
                        <img src="/uploads/groups/<%= connecti.group.image %>">
                    <% } else { %>
                        <img src="/img/logo.png">
                    <% } %>
                    <div class="card-text">
                        <% const date = connecti.date + ' ' + connecti.hour %>
                        <p class="date"><%= moment(date).format('LLLL')%></p>
                        <a href="/connecti/<%= connecti.slug %>">
                            <h3><%= connecti.title %></h3>
                        </a>
                        <div class="info-author">
                            <div class="image">
                                <% if(connecti.user.image){ %>
                                    <img src="/uploads/profiles/<%= connecti.user.image %>" alt="">
                                <% } %>
                            </div>
                            <div class="info">
                                <p>Organized by:</p>
                                <p class="author"><%= connecti.user.name %></p>
                            </div>
                        </div>
                    </div>
                </div><!--Card-->
            <% }) %>
        </div><!--Grid-->
    <% } else { %>
        <p>There's no connecti's on this category</p>
    <% } %>
    
</div>