<div class="hero">
    
    <h1>Find or create a group for sharing what you like most</h1>
    <a href="/sign-up" class="btn btn-yellow">Get an account</a>
</div>

<div class="finder-home">
    <div class="container">
        <h2>Find a group in your city</h2>
        <form action="/search" method="GET">
            <select name="category">
                    <option value="" selected>-- All categories --</option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
            </select>
            <input type="text" name="title" placeholder="Connecti's title">
            <input type="text" name="city" placeholder="City">
            <select name="country">
                <option value="" selected>-- All countries --</option>
                <option value="Mexico">Mexico</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Chile">Chile</option>
                <option value="Spain">Spain</option>
                <option value="United States">United States</option>
                <option value="United Kingdom">United Kingdom</option>
            </select>
            <input type="submit" value="Search" class="btn btn-rose">
        </form>
    </div>
</div>

<div class="container">
    <h2>Next Connecti's</h2>
    <div class="grid columns-md-3 ">
        <% if(connectis.length > 0) { %>
            <% connectis.forEach(connecti => { %>
                <%- include ('partials/card-connecti.ejs', {connecti : connecti}) %>
            <% }) %>
        <% } %>
    </div>
</div>

<main class="bg-gris categories">
    <h2>Find Groups By Category</h2>

    <div class="container">
        <ul class="listado-categories  grid columns-2 columns-md-3">
            <% categories.forEach(category => { %>
                <li>
                    <a href="/category/<%= category.slug %>">
                        <img src="/img/category_<%= category.id %>.jpg">
                        <p><%= category.name %></p>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</main>

<div class="meeti-bg">
    <div class="container meeti grid columns-md-2">
        <section>
            <h3>Create a group</h3>
            <p>Share what you like or your passion with everyone else, create your own group today with no cost</p>
        </section>
        <section>
            <h3>Join a group</h3>
            <p>Meet people with the same tastes and passions as yours, join an existing group and receive notifications about next events</p>
        </section>
    </div>
</div>
